html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
body {
    margin: 2rem;
}


/* header */
#header {
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

.navigation li{
    list-style-type: none;
}

.navigation a {
    margin: 0.75rem;
}

a:visited {
    color: seashell;
}


/* banner */
.banner {
    display: flex;
    width: 100%;
    height:31.81rem;
    background-image: url("/Resources/Images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-direction: column;
}

.banner h2 {
    background-color: black;
    margin-bottom: 0rem;
    padding: 0.5rem;
}

.banner h4 {
    margin-top:0rem;
    background-color: black;
    padding: 0.5rem;
}


/* tea of the month */

.tea_container {
    display: flex;
    flex-direction: column;
}

.tea_pictures {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
}

.tea img{
    width: 13.63rem;
    height: 9.09rem;
}

figcaption {
    margin-top: 0.5rem;
}


/* locations */
.location_container {
    margin-top:2rem;
    height: 22.72rem;
    display: flex;
    background-image: url("/Resources/Images/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;

}

.location_location {
   margin-top: 0;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

.location_container .h3_bold {
    font-weight: bold;
}

.location {
    width:13.63rem;
    height: 13.63rem;
    background-color: black;
    margin:1.81rem;
    padding:1rem;
    align-items: center;
}

/* contact */
#contact_container {
    height: 9.09rem;
}
#contact_container a{
    text-decoration: none;
}

#contact_container a:link {
    color: seashell;
}


/* footer */
footer {
    text-align: left;
}